@use './tokens' as tokens;
@use './reset';

body {
  font-family: tokens.$font-family-base;
  color: tokens.$text-primary;
  background: tokens.$background-surface;
  line-height: tokens.$line-height-normal;
}
